@import "tailwindcss";
@reference "utils/tailwind"

:root {
  --viewport-height: 100vh;
}
@utility min-h-viewport {
  min-height: var(--viewport-height);
}

* {
  scrollbar-color: rgba(255, 255, 255, 0.08) transparent;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply app-region-drag;
  @apply select-none;
  @apply text-sm;

  font-family: -apple-system, Helvetica, Arial, Tahoma, PingFangSC, sans-serif, "Segoe UI Emoji", "Noto Emoji";
  font-variant-numeric: tabular-nums;

  @apply bg-[#141416] text-[#ffffffea];
  @apply mica:bg-transparent;
  @apply vibrancy:bg-[#141416]/60;
}
